body{background-image: url(branches_leaves_sun_719574_1920x1080.jpg);
background-repeat: no-repeat; height: fit-content;}

h1{text-align: center; color: rgb(43, 226, 195);}
hr{color: chartreuse;}
#first_a{color:greenyellow; font-size: 20px;}
#second{color: greenyellow; font-size: 20px; margin-right: 20px;}
#third{color: greenyellow; font-size: 20px; margin-left: 20px;}

.hh{background-color: rgb(185, 143, 92); width: 400px ; height: 400px;
    margin-left: 300px; justify-items: ;}
h2{padding-top: 30px; color: rgb(133, 236, 30); text-align: center;}

#h{width: 200px; color: brown;}
strong{color: rgb(28, 241, 178); text-align: center;
margin-left: 20px;}

